body{
    background-color: black;
    color: white;
    text-align: center;
}
.container{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

table{
    margin: auto;
}

#empty{
}

tr{
    padding: 200px;
}

td{
    height: 400px;
    text-align: center;
    text-wrap: wrap;
    background-color: rgb(18, 33, 46);
    border-style: solid;
    border-color: gray;
}
#titlecard{
    height: 20%;
}
#bodycard{
    height: 80%;
}